<h1>Pretest</h1>
<table>
  <thead>
    <tr>
      <th resizable class="one">
        <input type="number" [formControl]="numcheck" required>


      </th>
      <th resizable class="two">

        <select [(ngModel)]="numcheckform" (change)="selected()">
          <option *ngFor="let num of Numchecker" [ngValue]="num">
            {{num.name}}
          </option>
        </select>


      </th>
      <th class="three">
        Result : {{selected()}}

      </th>
    </tr>
  </thead>
  
</table>
