table {
  position: relative;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 12px;
  box-sizing: border-box;
}

tr {
  background: rgba(0, 0, 0, 0.05);
}

.one {
  width: 200px;
  min-width: 100px;
}
.two {
  width: auto;
  min-width: 100px;
}
.three {
  width: 300px;
  min-width: 100px;
  vertical-align: top;
}
